/* header */

/* header-top */
.header {position: relative;margin: 0 auto;}
.header-Burger-menu {width: 100%;background-color: #ba2e1f;}
.bg-light {max-width: 959px;margin: 0 auto;background-color: #ba2e1f !important;}
.navbar {padding: 19px 0;}
.navbar-expand-lg .navbar-nav li {border-right: 1px solid white;font-size: 12px;}
.navbar-expand-lg .navbar-nav li:nth-child(4) {border-left: 1px solid white;border-right: 0px;} 
.navbar-light .navbar-nav .nav-link {color: white;}
.nav-link {padding: 0;}
.form-control {border-radius: 999rem;height: 25px;font-size: 12px;}
.mb-lg-0, .my-lg-0 {position: relative;max-width: 193px;}
.mr-sm-2, .mx-sm-2 {margin-right: 0 !important;}
.Search-images {width: 18px;height: 18px;background-color: #ba2e1f;position: absolute;right: 8px;border-radius: 999rem;}
.Search-images::before {content: "";background: url(../images/search-icon.png) no-repeat;position: absolute;width: 18px;height: 18px;}
.navbar-light .navbar-toggler {border: 0;}
.btn{width:70px; height:22px;overflow:hidden; position:relative;}
.btn span{width:30%; left:0; background:#fff; height:2px; position:absolute; transition:all 500ms;}
.btn .line1{top:0; transform:rotate(0); transform-origin:left top;}
.btn .line2{top:9px;}
.btn .line3{bottom:0; transform:rotate(0); transform-origin:left bottom;}
.btn.on .line1{width:145px; transform:rotate(41deg);}
.btn.on .line2{left:-100%;}
.btn.on .line3{width:145px; transform:rotate(-41deg);}
.header-top button:focus {outline: 0;}
.btn.focus, .btn:focus {box-shadow: none;}

@media (max-width: 992px) {
    .navbar-expand-lg .navbar-nav li {border-right: none;text-align: center;}
    .navbar-expand-lg .navbar-nav li:nth-child(4) {border-left: none;}
    .mb-lg-0, .my-lg-0 {margin: 0 auto;}
}


/* logo-content */
.logo-content {position: relative;max-width: 959px;margin: 0 auto;}
.logo-Column {max-width: 959px;position: relative;padding: 20px 0;}
.logo-content .row {margin-right: 0;margin-left: 0;}
.logo-Column .col-6 img {max-width: 100%;}
.logo-content .col-6:nth-child(2) {display: flex;flex-wrap: wrap;align-content: center;justify-content: flex-end;}
.logo-content ul {display: flex;padding: 0;margin: 0;}
.logo-content ul li {text-decoration: none;list-style: none;width: 32px;height: 32px;background-color: #333333;border-radius: 999rem;margin: 6px;}
.logo-content ul li:hover {background-color: #ee802f;}
/* header end */

@media (max-width: 480px) {
    .col-6 {flex: 0 0 100%;max-width: 100%;text-align: center;padding-bottom: 10px;}
    .logo-content .col-6:nth-child(2) {justify-content: center;}
}


/* menu */
.menu {position: relative;}
.menu-content {max-width: 959px;margin: 0 auto;}
.nav {justify-content: center;width: 960px;height: 40px;background: linear-gradient(#4c4949,#333333);border-radius: 4px;}
.nav .nav-item {margin: 0.8rem;font-size: 12px;}
.nav .nav-item:hover {background-color: #ba2e1f;}
.nav .nav-item a {color: #e9e8e3;}
/* menu end */

@media (max-width: 992px) {
    .menu-content {padding: 0 6%;}
    .nav {width: 100%;display: block;overflow: hidden;position: relative;}
    .nav:hover {height: 260px;}
    .nav::before {content: "";background: url(../images/rwd-icon.png) no-repeat;width: 12px;height: 9px;position: absolute;top: 16px;right: 15px;}
}


/* banner */
.banner {position: relative;margin: 0 auto;}
.banner-content {max-width: 959px;margin: 0 auto;;}
.carousel-caption {color: black;}
.carousel-caption {right: 0;left: 49%;text-align: left;bottom: 10px;}
.carousel-caption h1 {font-size: 86px;}
.carousel-caption p {font-size: 16px;}
.carousel-caption p:nth-child(2) {font-size: 16px;color: #ba2e1f;display: flex;justify-content: flex-end;}
/* banner end */

@media (max-width: 992px) {
    .banner-content {width: 100%;padding: 0 6%;}
    .carousel-caption {display: contents !important;}
    .banner img {width: 100%;border-radius: 4px;}
    .carousel-caption h1 {text-align: center;}
    .carousel-caption p {text-align: center;}one
    .carousel-caption p:nth-child(2) {justify-content: center;}
}


/* main */
.main {position: relative;margin: 0 auto;width: 100%;background-color: #f2f2f2;}
.main-content {max-width: 959px;margin: 0 auto;}
.main-content .col-2 {flex: 0 0 33%;max-width: 33%;}
.main-content .col-2:nth-child(1) h1 {font-size: 26px;color: #333333;margin: 0 0 40px 0;}
.main-content .col-2:nth-child(1) p {font-size: 13px;color: #878787;margin: 20px 0;}
.main-content .col-2:nth-child(1) span {float: right;font-size: 13px;color: #b92d1f;}
.main-content .col-2:nth-child(2) ul {padding: 0;}
.main-content .col-2:nth-child(2) li {list-style: none;display: flex;}
.main-content .col-2:nth-child(2) h1 {font-size: 26px;color: #333333;margin: 0 0 40px 0;} 
.main-content .col-2:nth-child(2) h5 {font-size: 14px;color: #878787;}
.main-content .col-2:nth-child(2) p {font-size: 13px;color: #878787;}
.main-content .col-2:nth-child(2) span {float: right;font-size: 13px;color: #b92d1f;}
.main-content .col-2:nth-child(3) h1 {font-size: 26px;color: #333333;margin: 0 0 40px 0;} 
.main-content .col-2:nth-child(3) p {font-size: 13px;color: #878787;}
.main-content .col-2:nth-child(3) span {font-size: 13px;color: #b92d1f;display: flex;justify-content: flex-end;}
.main-content-img {border: 1px solid #dfdfdf;}
.main-content-img img {padding: 1%;width: 100%;}
.main .row {margin-left: 0;margin-right: 0;padding: 50px 0;}
.main-service {margin: 0 10px;}
.message-1 {padding-bottom: 10px;}
.message-1-content {display: flex;}
.message-1-content h5 {margin: 0;font-size: 16px;color: #989898;}
.message-1-content-title {display: flex;flex-wrap: wrap;align-items: center;}
/* main end */

@media (max-width: 992px) {
    .main-content {padding: 0 6%;}
    .main-content-img img {width: 100%;}
    .main-content .col-2 {flex: 0 0 100%;max-width: 100%;text-align: center;padding: 4%;}
    .main-content .col-2:nth-child(2) li {justify-content: center;}
    .message-1 {padding: 4%;}
    .message-1-content {justify-content: center;}
    .main-content .col-2:nth-child(1) span {float: none;}
    .main-content .col-2:nth-child(2) span {float: none;}
    .main-content .col-2:nth-child(3) span {float: none;justify-content: center;}
}