/* header */
.header {position: relative; margin: 0 auto;background: url(../images/background.jpg) no-repeat;width: 100%;height: 100%;background-color: black;background-position: center;}
.banner-content {max-width: 978px;margin: 0 auto;}
.header-detailed {padding: 250px;text-align: center;}
.header-vice {font-size: 1.2rem;color: white;letter-spacing: 5px;}
.header-title h1 {font-size: 4rem;color: white;}
.header-bottom {margin: 20px 0;}
.header-bottom ul {padding: 0;}
.header-bottom ul li {text-decoration: none;list-style: none;display: contents;margin: 0 16px;}
.header-bottom-one a {padding: 1%;background: rgb(157, 141, 101);margin: 0 20px;display: inline-block;color: white;}
.header-bottom-one a:hover {text-decoration: none;border: 1px solid white;}
.header-bottom-two a {padding: 1%;border: 1px solid white;margin: 0 20px;display: inline-block;color: white;}
.header-bottom-two a:hover {text-decoration: none;}