/* header */

/* header-top */
.header {position: relative;margin: 0 auto;}
.header-Burger-menu {width: 100%;background-color: #ba2e1f;}
.bg-light {max-width: 959px;margin: 0 auto;background-color: #ba2e1f !important;}
.navbar {padding: 19px 0;}
.navbar-expand-lg .navbar-nav li {border-right: 1px solid white;font-size: 12px;}
.navbar-expand-lg .navbar-nav li:nth-child(4) {border-left: 1px solid white;border-right: 0px;} 
.navbar-light .navbar-nav .nav-link {color: white;}
.nav-link {padding: 0;}
.form-control {border-radius: 999rem;height: 25px;font-size: 12px;}
.mb-lg-0, .my-lg-0 {position: relative;max-width: 193px;}
.mr-sm-2, .mx-sm-2 {margin-right: 0 !important;}
.Search-images {width: 18px;height: 18px;background-color: #ba2e1f;position: absolute;right: 8px;border-radius: 999rem;}
.Search-images::before {content: "";background: url(../images/search-icon.png) no-repeat;position: absolute;width: 18px;height: 18px;}
.navbar-light .navbar-toggler {border: 0;}
.btn{width:70px; height:22px;overflow:hidden; position:relative;}
.btn span{width:30%; left:0; background:#fff; height:2px; position:absolute; transition:all 500ms;}
.btn .line1{top:0; transform:rotate(0); transform-origin:left top;}
.btn .line2{top:9px;}
.btn .line3{bottom:0; transform:rotate(0); transform-origin:left bottom;}
.btn.on .line1{width:145px; transform:rotate(41deg);}
.btn.on .line2{left:-100%;}
.btn.on .line3{width:145px; transform:rotate(-41deg);}
.header-top button:focus {outline: 0;}
.btn.focus, .btn:focus {box-shadow: none;}

@media (max-width: 992px) {
    .navbar-expand-lg .navbar-nav li {border-right: none;text-align: center;}
    .navbar-expand-lg .navbar-nav li:nth-child(4) {border-left: none;}
    .mb-lg-0, .my-lg-0 {margin: 0 auto;}
}


/* logo-content */
.logo-content {position: relative;max-width: 959px;margin: 0 auto;}
.logo-Column {max-width: 959px;position: relative;padding: 20px 0;}
.logo-content .row {margin-right: 0;margin-left: 0;}
.logo-Column .col-6 img {max-width: 100%;}
.logo-content .col-6:nth-child(2) {display: flex;flex-wrap: wrap;align-content: center;justify-content: flex-end;}
.logo-content ul {display: flex;padding: 0;margin: 0;}
.logo-content ul li {text-decoration: none;list-style: none;width: 32px;height: 32px;background-color: #333333;border-radius: 999rem;margin: 6px;}
.logo-content ul li:hover {background-color: #ee802f;}
/* header end */

@media (max-width: 480px) {
    .col-6 {flex: 0 0 100%;max-width: 100%;text-align: center;padding-bottom: 10px;}
    .logo-content .col-6:nth-child(2) {justify-content: center;}
}


/* menu */
.menu {position: relative;}
.menu-content {max-width: 959px;margin: 0 auto;}
.nav {justify-content: center;width: 960px;height: 40px;background: linear-gradient(#4c4949,#333333);border-radius: 4px;}
.nav .nav-item {margin: 0.8rem;font-size: 12px;}
.nav .nav-item a {color: #e9e8e3;}
/* menu end */

@media (max-width: 992px) {
    .menu-content {padding: 0 4%;}
    .nav {width: 100%;display: block;overflow: hidden;position: relative;}
    .nav:hover {height: 260px;}
    .nav::before {content: "";background: url(../images/rwd-icon.png) no-repeat;width: 12px;height: 9px;position: absolute;top: 16px;right: 15px;}
}


/* banner */
.banner {position: relative;margin: 0 auto;}
.banner-content {max-width: 959px;margin: 0 auto;;}
.carousel-caption {color: black;}
.carousel-caption {right: 0;left: 0;text-align: left;}
/* banner end */

@media (max-width: 992px) {
    .banner-content {width: 100%;}
}