/* header */
.header {position: relative; margin: 0 auto;background: url(../images/background.jpg) no-repeat;width: 100%;height: 100%;background-color: black;background-position: center;}
.header-detailed {padding: 250px 0;text-align: center;max-width: 978px;margin: 0 auto;}
.header-vice {font-size: 1.2rem;color: white;letter-spacing: 5px;}
.header-title {width: 100%;}
.header-title h1 {font-size: 4rem;color: white;}
.header-bottom {margin: 20px 0;}
.header-bottom ul {padding: 0;}
.header-bottom ul li {text-decoration: none;list-style: none;display: contents;margin: 0 16px;}
.header-bottom ul li:nth-child(1) a {animation-name: left;animation-duration: 2.0s;animation-iteration-count: 1;}
@keyframes left {
    0% {
        opacity: 0;
        transform: translateX(-120px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.header-bottom ul li:nth-child(2) a {animation-name: right;animation-duration: 2.0s;animation-iteration-count: 1;}
@keyframes right {
    0% {
        opacity: 0;
        transform: translateX(120px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
} 
.header-bottom-one a {padding: 1%;background: rgb(157, 141, 101);margin: 0 20px;display: inline-block;color: white;}
.header-bottom-one a:hover {text-decoration: none;border: 1px solid white;background: none;transition: all .5s ease-out;}
.header-bottom-two a {padding: 1%;border: 1px solid white;margin: 0 20px;display: inline-block;color: white;}
.header-bottom-two a:hover {text-decoration: none;background-color: rgb(157, 141, 101);border: none;transition: all .5s ease-out;}

@media (max-width: 480px) {
    .header-title {text-align: center;}
    .header-bottom ul {margin: 0;line-height: 3;}
    .header-bottom-one a {width: 60%;margin: 14px 0;}
    .header-bottom-two a {width: 60%;margin: 14px 0;}
}


/* header-phone */
.header-phone {position: relative;margin: 0 auto;}
.header-phone::before {content:"";position: absolute;width: 100%;height: 100%;background-color: rgba(0, 0, 0, 0.55);}
.header-phone .row {max-width: 978px;margin: 0 auto;}
.header-phone .row .col-6:nth-child(1) strong {display: inline-block;padding: 2rem 20px;}
.header-phone .row .col-6:nth-child(1) strong a {color: white;font-size: 24px;}
.header-phone .row .col-6:nth-child(1) strong a:hover {text-decoration: none;}
.header-phone .row .col-6:nth-child(1) p {margin: 0;font-size: 0.9rem;}
.header-phone .row .col-6:nth-child(2) {padding: 0;}
.header-phone .row .col-6:nth-child(2) ul {padding: 0;margin: 0;display: inline-block;float: right;padding: 2rem 20px;}
.header-phone .row .col-6:nth-child(2) ul li {list-style: none;display: inline-block;font-size: 0.9rem;color: white;margin: 0 14px;}

@media (max-width: 480px) {
    .header-phone .row .col-6 {flex: 0 0 100%;max-width: 100%;text-align: center;}
    .header-phone .row .col-6:nth-child(2) ul {float: none;}
}


/* header-main */
.header-main {position: relative;margin: 0 auto;}
.header-main-content {max-width: 978px;margin: 0 auto;}
.bg-light {background-color: #9D8D65 !important;}
.navbar-light .navbar-nav .nav-link {color: white;}
.mr-auto, .mx-auto {margin-right: 0 !important;}
.navbar-expand-lg .navbar-collapse {justify-content: center;}
.dropdown-menu {top: 117%;}
.dropdown-menu-two {left: 157px;top: 57px;}
.dropdown-item {padding: 0.7rem 0.5rem;color: white;display: flex;align-items: center;}
.navbar-light .navbar-nav .active> .navbar-light .navbar-nav .active, .navbar-light .navbar-nav .show, .navbar-light .navbar-nav .show {color: white;}
.navbar-expand-lg .navbar-nav li:nth-child(1) a {color: black;}
.navbar-expand-lg .navbar-nav .dropdown-menu {background-color: #9d8d6587;padding: 0;}
.dropdown-item:focus, .dropdown-item:hover {background-color: #9D8D65;color: white;}
.navbar-expand-lg .navbar-nav .nav-link {padding-right: 1.5rem;padding-left: 1.5rem;}

@media (max-width: 991px) {
    .header-main-content {display: flex;}
    .collapse:not(.show) {display: block;}
    .bg-light {height: 40px;overflow: hidden;width: 100%;}
    .bg-light::before {content: "";position: absolute;width: 10px;height: 10px;border-left: 1.4px solid;border-bottom: 1.4px solid;transform: rotate(-45deg);right: 30px;top: 12px;}
    .bg-light:hover {width: 100%;height: 100%;display: inline-block;}
    .dropdown-menu {border: none;}
    .dropdown-item {padding: 0.7rem 1.5rem;}
    .navbar {padding: 0;}
    .collapse:not(.show) ul li {border-bottom: 1px solid white;}
    .dropdown-item::before {content: "";width: 5px;height: 5px;display: block;border-radius: 999rem;background-color: white;margin-right: 10px;}
}


/* main */
.main {position: relative;margin: 0 auto;}
.main-content {margin: 0 auto;}
.main-one {max-width: 978px;margin: 0 auto;}
.main-one .main-one-title {text-align: center;padding: 4rem;animation-name: top;animation-duration: 2.0s;animation-iteration-count: 1;}
@keyframes top {
    0% {
        opacity: 0;
        transform: translateY(-120px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.main-one .main-one-title h6 {font-size: 22px;margin: 0;text-transform: uppercase;}
.main-one .main-one-title p {margin: 0;}
.main-one .row {margin-left: 0;margin-right: 0;display: flex;justify-content: center;margin: 0 0 4rem;}
.main-one .row .col-3 {padding: 30px;background-color: #F2F2F2;margin: 16px;flex: 0 0 30%;max-width: 30%;}
.main-one .row .col-3 a section {color: #9D8D65;}
.main-one .row .col-3 a:hover {text-decoration: none;}
.main-one .row .col-3:nth-child(1) span  {display: inline-block;}
.main-one .row .col-3:nth-child(1) span i {background-color: #9D8D65;color: white;width: 46px;height: 46px;display: flex;align-items: center;justify-content: center;}
.main-one .row .col-3:nth-child(1) h5 {margin: 24px 0;}
.main-one .row .col-3:nth-child(1) p {margin: 0 0 24px;}
.main-one .row .col-3:nth-child(2) span  {display: inline-block;}
.main-one .row .col-3:nth-child(2) span i {background-color: #9D8D65;color: white;width: 46px;height: 46px;display: flex;align-items: center;justify-content: center;}
.main-one .row .col-3:nth-child(2) h5 {margin: 24px 0;}
.main-one .row .col-3:nth-child(2) p {margin: 0 0 24px;}
.main-one .row .col-3:nth-child(3) span  {display: inline-block;}
.main-one .row .col-3:nth-child(3) span i {background-color: #9D8D65;color: white;width: 46px;height: 46px;display: flex;align-items: center;justify-content: center;}
.main-one .row .col-3:nth-child(3) h5 {margin: 24px 0;}
.main-one .row .col-3:nth-child(3) p {margin: 0 0 24px;}
.main-one .row .col-3:nth-child(4) {display: none;}

@media (max-width: 959px) {
    .main-one .row .col-3 {flex: 0 0 43%;max-width: 43%;}
    .main-one .row .col-3:nth-child(4) {display: block;background: none;}
}

@media (max-width: 480px) {
    .main-one .row .col-3 {flex: 0 0 90%;max-width: 90%;}
}


/* main-two-title */
.main-two {position: relative;margin: 0 auto;background-color: #F2F2F2;}
.main-two-content {max-width: 978px;margin: 0 auto;}
.main-two-content .col-6:nth-child(2) {display: flex;align-items: center;justify-content: center;padding: 0;overflow: hidden;}
.main-two-content .col-6:nth-child(2) img {max-width: 100%;max-height: 100%;border: 1px solid #D7D7D7;padding: 2%;}
.main-two-content .col-6:nth-child(2) img:hover {border: none;}
.main-two-content .col-6:nth-child(2)::after {content: "";width: 489px;height: 411px;display: inline-block;position: absolute;top: 0;left: 0;;animation: move 9s infinite;border: 2px solid;}
@keyframes move {
    0% {clip: rect(0 489px 2px 0);}
    25% {clip: rect(0 0 489px 2px);}
    50% {clip: rect(2px 489px 0 0);}
    75% {clip: rect(0 2px 489px 0);}
}
.main-two-content .row {padding-bottom: 4rem;margin-left: 0;margin-right: 0;}
.main-two-title {text-align: center;padding: 4rem;}
.main-two-title h6 {margin: 0;font-size: 22px;text-transform: uppercase;}
.main-two-title p {margin: 0;}
.col-6-content {padding: 0;margin: 0;display: flex;}
.col-6-content li {list-style: none;padding: 4% 4% 0 0;}
.col-6-content li a {width: 46px;height: 46px;display: flex;align-items: center;justify-content: center;background-color: #9D8D65;color: white;margin: 0 0 26px;}

@media (max-width: 720px) {
    .main-two-content .row {flex-direction: column-reverse;}
    .main-two-content .col-6 {flex: 0 0 100%;max-width: 100%;padding-left: 0;padding-right: 0;padding: 0 5rem;margin: 2rem 0;}
    .col-6-content {display: block;}
}

@media (max-width:480px) {
    .main-two-content .col-6 {padding: 0 2rem;}
}


/* main-three */
.main-three {position: relative;margin: 0 auto;background: url(../images/background-02.jpg) no-repeat;background-color: black;background-position: bottom;}
.main-three-content {max-width: 978px;margin: 0 auto;}
.main-three-title {text-align: center;padding: 4rem;}
.main-three-title h6 {margin: 0;font-size: 22px;text-transform: uppercase;color: white;}
.main-three-title p {margin: 0;color: white;}
.main-three-content .row {padding-bottom: 4rem;}
.main-three-content .row .col-3 a {width: 46px;height: 46px;display: inline-block;display: flex;align-items: center;justify-content: center;background-color: #9D8D65;margin: 0 0 26px;border: 1px solid white;}
.main-three-content .row .col-3 a i {color: white;}
.main-three-content .row .col-3 h5 {color: white;}
.main-three-content .row .col-3 p {color: white;}

@media (max-width: 1024px) {
    .main-three-content .row  {margin: 0 10px;}
    .main-three-content .row .col-3 {flex: 0 0 50%;max-width: 50%;}
}

@media (max-width: 480px) {
    .main-three-content .row {padding: 0 4rem;}
    .main-three-content .row .col-3 {flex: 0 0 100%;max-width: 100%;padding-left: 0;padding-right: 0;}
}


/* main-four */
.main-four {position: relative;margin: 0 auto;}
.main-four-content {max-width: 987px;margin: 0 auto;}
.main-four-title {text-align: center;padding: 4rem;}
.main-four-title h6 {margin: 0;font-size: 22px;text-transform: uppercase;}
.main-four-content .row {display: flex;align-items: center;justify-content: center;}
.main-four-content .row .col-2 {flex: 0 0 33%;max-width: 33%;}
.main-four-content .row .col-2 .col-2-img {margin: 0 0 30px;overflow: hidden;max-height: 210px;}
.main-four-content .row .col-2 .col-2-img img {width: 100%;height: 100%;transition: all 3s ease-out;}
.main-four-content .row .col-2 .col-2-img img:hover {transform: scale(1.2,1.2);}
.main-four-content .row .col-2 h5 {margin: 0;}
.main-four-content .row .col-2 p {margin: 20px 0;}
.main-four-content .row .col-2 a {color: #9D8D65;}
.main-four-content .row .col-2 a:hover {text-decoration: none;}
.main-four-content .row .col-2 ul {padding: 0;display: flex;font-size: .8rem;margin: 0;}
.main-four-content .row .col-2 ul li {list-style: none;margin: 0 3px 0 0;}
.main-four-content .row .col-2 ul li a {display: flex;color: #9D8D65;}
.main-four-content .row .col-2 ul li a:hover {text-decoration: none;}
.main-four-content .row .col-2 ul li a span i {color: black;    margin: 0 4px 0 0;}
.main-four-content .row .col-2 ul li a span {display: inline-block;}

@media (max-width: 900px) {
    .main-four-content .row .col-2 {flex: 0 0 48%;max-width: 48%;padding-left: 0;padding-right: 0;padding: 0.8rem;}
}

@media (max-width: 480px) {
    .main-four-content .row .col-2 {flex: 0 0 100%;max-width: 100%;padding-left: 0;padding-right: 0;padding: 2rem;}
}


/* footer */
.footer {position: relative;margin: 0 auto;background: url(../images/background-03.jpg) no-repeat;}
.footer-content {max-width: 978px;margin:  0 auto;}