/* header */
.header {position: relative;margin: 0 auto;}
.header-top {width: 100%;background-color: #ba2e1f;}
.bg-light {max-width: 959px;margin: 0 auto;background-color: #ba2e1f !important;}
.navbar-expand-lg .navbar-nav li {border-right: 1px solid white;}
.navbar-expand-lg .navbar-nav li:nth-child(4) {border-left: 1px solid white;border-right: 0px;} 
.navbar-light .navbar-nav .nav-link {color: white;}
.nav-link {padding: 0;}
.form-control {border-right: 999rem;}
/* header end */