/* header */
.header {position: relative;margin: 0 auto;}
.header-top {width: 100%;background-color: #ba2e1f;}
.bg-light {max-width: 959px;margin: 0 auto;background-color: #ba2e1f !important;}
.navbar-expand-lg hr {width: 1px;height: 14px;}
/* header end */