/* header */
.header {position: relative; margin: 0 auto;background: url(../images/background.jpg) no-repeat;width: 100%;height: 100%;background-color: black;background-position: center;}
.header-content {max-width: 978px;margin: 0 auto;}
.header-detailed {padding: 250px 0;text-align: center;}
.header-vice {font-size: 1.2rem;color: white;letter-spacing: 5px;}
.header-title {width: 100%;}
.header-title h1 {font-size: 4rem;color: white;}
.header-bottom {margin: 20px 0;}
.header-bottom ul {padding: 0;}
.header-bottom ul li {text-decoration: none;list-style: none;display: contents;margin: 0 16px;}
.header-bottom-one a {padding: 1%;background: rgb(157, 141, 101);margin: 0 20px;display: inline-block;color: white;}
.header-bottom-one a:hover {text-decoration: none;border: 1px solid white;background: none;transition: all .5s ease-out;}
.header-bottom-two a {padding: 1%;border: 1px solid white;margin: 0 20px;display: inline-block;color: white;}
.header-bottom-two a:hover {text-decoration: none;background-color: rgb(157, 141, 101);border: none;transition: all .5s ease-out;}

@media (max-width: 480px) {
    .header-title {text-align: center;}
    .header-bottom ul {margin: 0;line-height: 3;}
    .header-bottom-one a {width: 60%;margin: 14px 0;}
    .header-bottom-two a {width: 60%;margin: 14px 0;}
}


/* header-phone */
.header-phone {position: relative;margin: 0 auto;}
.header-phone::before {content:"";position: absolute;width: 100%;height: 100%;background-color: rgba(0, 0, 0, 0.55);}
.header-phone .row {max-width: 978px;margin: 0 auto;}
.header-phone .row .col-6:nth-child(1) strong {display: inline-block;padding: 2rem 20px;}
.header-phone .row .col-6:nth-child(1) strong a {color: white;font-size: 24px;}
.header-phone .row .col-6:nth-child(1) strong a:hover {text-decoration: none;}
.header-phone .row .col-6:nth-child(1) p {margin: 0;font-size: 0.9rem;}
.header-phone .row .col-6:nth-child(2) {padding: 0;}
.header-phone .row .col-6:nth-child(2) ul {padding: 0;margin: 0;display: inline-block;float: right;padding: 2rem 20px;}
.header-phone .row .col-6:nth-child(2) ul li {list-style: none;display: inline-block;font-size: 0.9rem;color: white;margin: 0 14px;}

@media (max-width: 480px) {
    .header-phone .row .col-6 {flex: 0 0 100%;max-width: 100%;text-align: center;}
    .header-phone .row .col-6:nth-child(2) ul {float: none;}
}


/* header-main */
.header-main {position: relative;margin: 0 auto;}
.header-main-content {max-width: 978px;margin: 0 auto;}
.bg-light {background-color: #9D8D65 !important;}
.navbar-light .navbar-nav .nav-link {color: white;}
.mr-auto, .mx-auto {margin-right: 0 !important;}
.navbar-expand-lg .navbar-collapse {justify-content: center;}
.dropdown-menu {top: 117%;}
.dropdown-menu-two {left: 170px;top: 57px;}
.dropdown-item {padding: 0.7rem 0.5rem;color: white;}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {color: white;}
..navbar-expand-lg .navbar-nav li:nth-child(1) {color: black;}
.navbar-expand-lg .navbar-nav .dropdown-menu {background-color: #9d8d6587;padding: 0;}
.dropdown-item:focus, .dropdown-item:hover {background-color: #9D8D65;color: white;}
.navbar-expand-lg .navbar-nav .nav-link {padding-right: 1.5rem;padding-left: 1.5rem;}

@media (max-width: 991px) {
    .collapse:not(.show) {display: block;}
    .bg-light {height: 53px;overflow: hidden;}
    .bg-light::before {content: "";border-color: black black black black;position: absolute;width: 14px;height: 14px;border-left: 1.4px solid;border-bottom: 1.4px solid;transform: rotate(-45deg);right: 30px;}
    .bg-light:hover {width: 100%;height: 100%;display: inline-block;}
    .dropdown-menu {border: none;}
    .dropdown-item {padding: 0.7rem 1.5rem;}
    
}